/*General formatting*/



/*Div formatting*/

.container
{
	width:90%;
	margin:auto;
}

.header
{
	text-decoration:uppercase;
	text-align:center;
	background-color:#94FFB8;
}

.menu
{
	background-color:#FF9999;
	float:left;
	width:30%;
}

.content
{
	background-color:#0099FF;
	margin-left:30%;
}